@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    box-sizing: border-box;
}
body { 
    background-color: whitesmoke;
    margin: 0;
    padding: 10px;
    font-family: "Open Sans", sans-serif;
    background-image: url("./images/berylaann1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
    background-attachment: fixed;
}
nav {
    background: rgb(50, 240, 50);
}
p {
 color: rgb(9, 9, 9);
 font-size: 16px;
}

#about-bootcamp {
    background: whitesmoke;
    padding: 10px;
    width: 450px;
    height: 450px;
    border: 5px solid green;
    border-radius: 10px;
    margin: 10px;
}

.text-center {
    text-align: center;
}

footer {
    background-color: #000000;
}

/*

3 major ways of using colors in CSS
color name: blue, red, green, yellow

hexadecimal - 16 
0-9
a-f

#rrggbb - 
#000000 - black 
#ffffff-white


#0f347e

00
11
22
33
44
55
66
77
88
99
aa
bb
cc
dd
ee
ff
rgb()


r-red (0 - 255)
g-green (0 -255)
b-blue (0 -255)

color: red;
color: rgb(255, 0, 0)

color: blue;
color: rgb(0, 0, 255)

color: rgb(12, 234, 170)

color: rgb(0, 0, 0)
*/

.form-element {
    width: 100%;
    box-sizing: border-box;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
  }
  button {
    background: purple;
    color: white;
    padding: 10px;
    border: 0;
    border-radius: 5px;
    margin-bottom: 10px;
  }
table {
  width: 100%  
}
th {
    font-size: 18px
} 
img {
    width: 250px;
    height: 250px;
}
section p { 
    text-decoration: underline;
}
section > p {
 letter-spacing: 10px;   
}
section ~ p {
    word-spacing: 30px;
    color: black;
}
section + p {
    text-transform: uppercase;
}
* {
    color: orange;
}
h1 {
    color: purple;
}
input[type="email"] {
    font-size: 30px;
}
.flex-container {
    display: flex;
    padding: 30px 0;
    align-items: center;
    justify-content: center;
}
.flex-container > div {
    width: 50%;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 250px;
    gap: 10px;
}
.grid-container > div {
    background: fuchsia;
    padding: 10px;
}
@media screen and (max-width: 576px) {
    input [type="email"] {
        font-size: 14px;
    }
    .flex-container {
      flex-direction: column-reverse;  
}
.flex-container > div {
    width: 100%;
  }
}